---
name: dist

on: [push]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    container:
      image: wpilib/roborio-cross-ubuntu:2025-22.04-py313

    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: |
        apt-get update
        apt-get install -y cmake --no-install-recommends
        pip3.13 install -r requirements.txt

    - name: Build wheels
      run: make package

    - name: Publish package to WPILib artifactory
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: ${{ secrets.WPI_ARTIFACTORY_USERNAME }}
        password: ${{ secrets.WPI_ARTIFACTORY_TOKEN }}
        repository-url: https://wpilib.jfrog.io/artifactory/api/pypi/wpilib-python-release-2027-local
